extends layout
block script
  script(type='text/javascript', src='/js/blockui.js')

block main
  .row
    .span4.sidebar
      label Give me an url:
      input.go(type="text", size="25")
      a#go.btn.btn-primary(href="#", style="inline; margin-bottom: 9px;") Go!
      .alert.alert-error.hide(style="width:60%")
        button.close(type="button")
          div(style="font-size:8px")
            i.icon-remove
        #msg
    .span8
      #preview

  script(type="text/javascript")
    $(".close").click(function(){
      $(".alert #msg").html("");
      $(".alert").fadeOut();
    });
    $("#go").click(function(e){
      url = $(".go").val();
      e.preventDefault();
      if(url.indexOf("http://")!=0 && url.indexOf("https://")!=0){
        $("#msg").html("Huh? What are u doing?");
        $(".alert").fadeIn();
      } else {
        servername = url.split(/\/+/g)[0]+"//"+url.split(/\/+/g)[1];
        $.blockUI();
        $.get("/phan",{url: url}, function(data){
          $.unblockUI();
          //console.log($("script", $(data)))
          //$("script", $(data)).each( function(){ $(this).attr("src", servername + $(this).attr("src")) });
          //$("link", $(data)).each( function(){ $(this).attr("href", servername + $(this).attr("href")) });
          $("#preview").html(data)
        })
      }
    });

